.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  box-shadow: 5px 0 10px rgba(0,0,0,0.15);
}
.navbar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
